.campo{
    margin: 24px, 0px;
}

label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    color: rgba(69,80,61,255);
}

.campo input{
    background-color: #FFF;
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 16px;
    box-sizing: border-box;
}

.campo:hover{
    color: #FFF;
}

label:hover{
    color: #FFF;
}